<div class="row">
    <div class="col-md-12 no-gutter">
        <div class="col-md-9 wf-h1">
            <h1>Документооборот</h1>
        </div>
        <div class="col-md-3">
            <div class="input-group">
                <input type="text" class="form-control ng-valid ng-dirty" placeholder="поиск..." ng-change="searchDB()" ng-model="searchText" name="table_search" title="" tooltip="" data-original-title="Min character length is 3">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span>
                    </button>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a ng-click="getResultsPage(1)">Показать всё</a></li>
                        </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <table class="table table-bordered">
            <thead ng-show="getStart">
                <tr>
                    <th>№</th>
                    <th>
                        <select
                        ng-options="c as c.contractor_name for c in getStart.contractor"
                        ng-model="selectDB"
                        ng-change="searchColumn(selectDB)"
                        >
                            <option disabled value="">Подрядчик</option>
                        </select>
                    </th>
                    <th>
                        <select
                        ng-options="p as p.pes for p in getStart.pes"
                        ng-model="selectDB"
                        ng-change="searchColumn(selectDB)"
                        >
                            <option disabled value="">ПЭС</option>
                        </select>
                    </th>
                    <th>
                        <select 
                        ng-options="r as r.res_name for r in getStart.res_name"
                        ng-model="selectDB"
                        ng-change="searchColumn(selectDB)"
                        >
                            <option disabled value="">РЭС</option>
                        </select>
                    </th>
                    <th>
                        <select 
                        ng-options="l as l.location_name for l in getStart.location"
                        ng-model="selectDB"
                        ng-change="searchColumn(selectDB)"
                        >
                            <option disabled value="">Населенный Пункт</option>
                        </select>
                    </th>   
                    <th>План физ18</th>
                    <th>Кол-во ТП</th>
                    <th>1ф</th>
                    <th>3ф</th>
                    <th>Кол-во ТУ</th>
                    <th>Найдено по физ18</th>
                    <th>Не найдено</th>
                    <th>Вне физ18</th>
                    <th>Не иден-о</th>
                    <th>Отчет ППО</th>
                    <th>ПГП</th>
                    <th>ТРП</th>
                    <th>Смета</th>
                    <th>КС-2</th>
                </tr>
            </thead>
            <tbody ng-show="checkShowHide">
                <tr ng-repeat="value in data">
                    <td>{{ $index+1 }}</td>
                    <td>{{ value.contractor_name }}</td>
                    <td>{{ value.pes }}</td>
                    <td>{{ value.res_name }}</td>
                    <td>{{ value.location_name }}</td>
                    <td>{{ value.plan_fiz18 }}</td>
                    <td>{{ value.total_tp }}</td>
                    <td>{{ value.total_1f }}</td>
                    <td>{{ value.total_3f }}</td>
                    <td>{{ value.total_tp+value.total_smr }}</td>
                    <td>{{ value.total_found_fiz18 }}</td>
                    <td>{{ value.total_not_found }}</td>
                    <td>{{ value.total_ppo_vne18 }}</td>
                    <td>{{ value.total_hbz }}</td>


                    <!-- Отчет ППО -->
                    <td>
                    <select ng-model="statusSelect[value.location_id]" ng-change="statusUpdate('report_ppo')" class="status-select">
                        <option disabled value="">&#8212;</option>
                        <option ng-repeat="s in statusGet track by s.status_id" 
                                ng-selected="s.status_id == value.report_ppo"
                                value="{{ s.status_id }}">{{ s.status_name }}
                        </option>
                    </select>
                    </td>

                    <!-- План-график производства -->
                    <td>
                    <select ng-model="statusSelect[value.location_id]" ng-change="statusUpdate('schedule_plan')" class="status-select">
                        <option disabled value="">&#8212;</option>
                        <option ng-repeat="s in statusGet track by s.status_id" 
                                ng-selected="s.status_id == value.schedule_plan"
                                value="{{ s.status_id }}">{{ s.status_name }}
                        </option>
                    </select>
                    </td>

                    <!-- ТРП -->
                    <td>
                    <select ng-model="statusSelect[value.location_id]" ng-change="statusUpdate('trp')" class="status-select">
                        <option disabled value="">&#8212;</option>
                        <option ng-repeat="s in statusGet track by s.status_id" 
                                ng-selected="s.status_id == value.trp"
                                value="{{ s.status_id }}">{{ s.status_name }}
                        </option>
                    </select>
                    </td>

                    <!-- Смета -->
                    <td>
                    <select ng-model="statusSelect[value.location_id]" ng-change="statusUpdate('estimate')" class="status-select">
                        <option disabled value="">&#8212;</option>
                        <option ng-repeat="s in statusGet track by s.status_id" 
                                ng-selected="s.status_id == value.estimate"
                                value="{{ s.status_id }}">{{ s.status_name }}
                        </option>
                    </select>
                    </td>

                    <!-- КС-2 -->
                    <td>
                    <select ng-model="statusSelect[value.location_id]" ng-change="statusUpdate('kc2')" class="status-select">
                        <option disabled value="">&#8212;</option>
                        <option ng-repeat="s in statusGet track by s.status_id" 
                                ng-selected="s.status_id == value.kc2"
                                value="{{ s.status_id }}">{{ s.status_name }}
                        </option>
                    </select>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="scroll-bar">
        <div id="scroll-up"><i class="fa fa-3x fa-arrow-circle-up" aria-hidden="true"></i></div>
        <div id="scroll-down"><i class="fa fa-3x fa-arrow-circle-down" aria-hidden="true"></i></div>
    </div>

</div>

<script>
    $('#wf-search').focus();

    $('#scroll-up').click(function(e){
        e.preventDefault();
        $('html, body').stop().animate({scrollTop:0}, '500', 'swing');
    });

    $('#scroll-down').click(function(e){
        e.preventDefault();
        $("html, body").animate({ scrollTop: $(document).height() }, 500);
    });
</script>